<!DOCTYPE html>
<html>
<head>
	<title><%= @title + ' | Instagram API | ' %></title>

	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1><a href="/">The Photobomb</a></h1>
	<h2>'cause photos are nice.</h2>

	<%= yield %>
</body>
</html>